/* the styles for the html elements */
body
{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}
.main-wrapper
{
    background-color:  white;
}

.card-block {
    padding: 10px;
}

.main-wrapper {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.img-fluid {
    margin-bottom: 15px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
div.photogallery ul li
{
  display:inline-block;  /* display list items beside each other */
  background-color:white;
  width:400px;   /* width of each image */
  text-align:center;  /* text under image */
  padding:10px; 
  margin:40px;
}

div.photogallery ul li:hover 
{
  position: relative;
  z-index: 5; /* place this image on the top */ 
}

div.photogallery ul li img
{
  width:100%; /* img takes up full width of containing li */
}


/* Additional styles to give the images a drop shadow */
div.photogallery ul li
{
  -webkit-box-shadow: 0 3px 6px rgba(5,5,50,.5); /* drop shadow */
  -moz-box-shadow: 0 3px 6px rgba(5,5,50,.5);
  -ms-box-shadow: 0 3px 6px rgba(5,5,50,.5);  
  -o-box-shadow: 0 3px 6px rgba(5,5,50,.5);    
  box-shadow: 0 3px 6px rgba(5,5,50,.5);
}

div.photogallery ul li:hover 
{   
  -webkit-box-shadow: 0 3px 6px rgba(35,35,0,.8);  /* darken drop shadows */
  -moz-box-shadow: 0 3px 6px rgba(35,35,0,.8);
  -ms-box-shadow: 0 3px 6px rgba(35,35,0,.8);  
  -o-box-shadow: 0 3px 6px rgba(35,35,0,.8);
  box-shadow: 0 3px 6px rgba(35,35,0,.8);    
}




/* Additional style to transition when hovering */
div.photogallery ul li
{
   -moz-transition:0.3s; 
   -webkit-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}



